.DS_Store

.gradle
.m2
.gradletasknamecache

target/
build/
/captures
Version.java
logcat.txt

.classpath
.project
.settings
.metadata
bin/

out
.idea
*.ipr
*.iws
*.iml
local.properties
.externalNativeBuild
/config/props/internal.properties
#/examples/consent-access/sdkconfig.properties
/examples/consent-access/config.internal.properties
/examples/consent-access/sdkconfig.properties
config/properties/publish.properties
config/properties/production.properties
config/properties/internal.properties
